atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/.apm
git/gitconfig.local.symlink
vim.symlink/.netrwhist
vim.symlink/autoload/*
vim.symlink/plugged/*
weechat.symlink/*.conf
weechat.symlink/*
.DS_Store
