atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/.apm
git/gitconfig.local.symlink
vim/vim.symlink/.netrwhist
vim/vim.symlink/autoload/*
vim/vim.symlink/bundle/*
.DS_Store
